//Fonts
@font-face {
    font-family: 'DKBuntaro';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/dk_buntaro-webfont.eot'); /* IE9 Compat Modes */
    src: local('DK Buntaro'), local('DKBuntaro'),
         url('./fonts/dk_buntaro-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/dk_buntaro-webfont.woff') format('woff'), /* Modern Browsers */
         url('./fonts/dk_buntaro-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
  }

  $title: 'DKBuntaro';


// Colors
$yellow: #f3de34;
$grey: #404143;
$grey_light: #989898;
$green: #8bac2d;


// General

body {
    background: $yellow url('./images/body_bg.jpg') no-repeat;
    background-size: cover;
}

.lang {
    position: absolute;
    right: 50px;
    top: 50px;

    li {
        a {
            color: #000;
            font-size: 18px;
            text-decoration: none;
            padding: 10px;

            &.active {
                background: $green;
                color: #fff;
            }
        }
    }
}

h2 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.title {
    font-family: $title;
    font-size: 45px;
}

.map_wrapper {
    position: relative;
    margin-top: 40px;
}

//Layout

.wrapper {
    display: grid;
    grid-template-columns: auto 50%;
}

.left {
    text-align: right;
    img {
        position: relative;
        max-width: 400px;
        margin-top: 20px;
    }
}

// Elements

.link {
    background: $green;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
    text-align: center;
    transition: all 0.2s ease;
    margin-bottom: 20px;

    &:hover {
        text-decoration: none;
        color: $green;
        background: $yellow;
    }
}

.panel {
    grid-column: 2/3;
    width: 100%;
    height: 110%;
    max-width: 500px;
    padding: 20px 40px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.08);

    h2 {
        color: $grey;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;  
        margin-bottom: 20px;
        margin-top: 10px;
    }

    form {
        label {
            color: $grey;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: bold;
            display: block;

            &.small {
                font-size: 12px;
            }
        }

        input.form-control, select {
            border-color: $yellow;
            padding: 10px 12px;
        }

        button.form-control {
            background-color: $green;
            color: white;
            border: none;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: bold;

            &:hover {
                background: $yellow;
                color: $green;
            }
        }
    }

    ul {
        margin-top: 30px;
        li {
            margin-bottom: 20px;
            h3 {
                color: $grey;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: bold; 
            }
            p {
                color: $grey;
                font-size: 16px;
                font-weight: normal; 
                margin: 0;
            }
        }
    }
}


.transition-appear {
    position: relative;
    opacity: 0;
    right: -100px;
    transition: all 1s ease;
}
.transition-appear-active {
    opacity: 1;
    right: 0;
}

// Scooter detail

.scooter_detail {

    h3 {
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 20px;
    }

    p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    form {
        .form-check {
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid #eee;

            label {
                font-weight: normal;
                text-transform: none;
            }

            input {
                top: 2px;
            }
        }
    }
}

// Checkout
.checkout_right, .checkout_left {
    .checkout_wrapper {
        background: #fff;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(47, 48, 0, 0.2);
        padding: 20px 40px;
    }
}

.checkout_left {
    z-index: 10;

    img {
        display: block;
        margin: auto;
        margin-bottom: 40px;
    }

    h2 {
        margin-top: 20px;
        margin-bottom: 40px;
        padding-bottom: 20px;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        color: $grey;
        border-bottom: 2px solid $yellow;
    }

    ul {
        li {
            color: $grey;
            margin-bottom: 10px;
            span {
                font-weight: bold;
            }
        }
    }
}

.checkout_right {
    max-width: 400px;
    z-index: 1;

    .checkout_wrapper {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-top: 50px;
    }
    
    h3 {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        color: $grey;
        margin-top: 20px;
    }

    ul {
        border-bottom: 1px solid $grey;
        padding-bottom: 20px;
        margin-bottom: 20px;

        li {
            color: $grey;
            margin-bottom: 10px;
        }
    }

    .totals {
        p {
            color: $grey;

            span {
                font-weight: bold;
                display: block;
            }
        }

        .total {
            border-top: 1px solid $grey;
            padding-top: 20px;
            margin-bottom: 40px;
        }
    }
}

// Unlock

.wrapper.unlock {
    max-width: 1000px;
    grid-template-columns: auto 60%;
}

.unlock_left {
    text-align: right;
    padding-top: 20px;

    img {
        height: 380px;
    }
}

.unlock_right {

    .unlock_wrapper {
        padding: 20px 40px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0 0 20px rgba(47, 48, 0, 0.2);

        h2 {
            margin-top: 10px;
            margin-bottom: 20px;
            color: $grey;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 25px;
            text-align: center;
        }

        p {
            text-align: center;
            margin-bottom: 40px;
            font-size: 18px;
        }
    }

    ul {
        position: relative;
        width: 100%;
        max-width: 350px;
        margin: auto;
        text-align: center;

        li {
            a {
                margin-left: 10px;
                padding: 10px 40px;
            }
        }
    }

    .link, .lock {
        display: inline-block;

        &:hover, &.unlock {
            background: $grey_light;
            color: #fff;
        }
    }
}


//Footer

footer {
    margin-top: 100px;
    p {
        color: $grey;
        text-transform: uppercase;
    }
}
