body {
  background: #f3de34 url("./images/body_bg.jpg") no-repeat;
  background-size: cover;
}

.lang {
  position: absolute;
  right: 50px;
  top: 50px;
}

.lang li a {
  color: #000;
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
}

.lang li a.active {
  background: #8bac2d;
  color: #fff;
}

h2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.map_wrapper {
  position: relative;
  margin-top: 40px;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 50%;
      grid-template-columns: auto 50%;
}

.left {
  text-align: right;
}

.left img {
  position: relative;
  max-width: 400px;
  margin-top: 20px;
}

.link {
  background: #8bac2d;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  display: block;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-bottom: 20px;
}

.link:hover {
  text-decoration: none;
  color: #8bac2d;
  background: #f3de34;
}

.panel {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 100%;
  height: 110%;
  max-width: 500px;
  padding: 20px 40px;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

.panel h2 {
  color: #404143;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}

.panel form label {
  color: #404143;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  display: block;
}

.panel form label.small {
  font-size: 12px;
}

.panel form input.form-control, .panel form select {
  border-color: #f3de34;
  padding: 10px 12px;
}

.panel form button.form-control {
  background-color: #8bac2d;
  color: white;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.panel form button.form-control:hover {
  background: #f3de34;
  color: #8bac2d;
}

.panel ul {
  margin-top: 30px;
}

.panel ul li {
  margin-bottom: 20px;
}

.panel ul li h3 {
  color: #404143;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

.panel ul li p {
  color: #404143;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.transition-appear {
  position: relative;
  opacity: 0;
  right: -100px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.transition-appear-active {
  opacity: 1;
  right: 0;
}

.checkout_right .checkout_wrapper, .checkout_left .checkout_wrapper {
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px rgba(47, 48, 0, 0.2);
          box-shadow: 0 0 20px rgba(47, 48, 0, 0.2);
  padding: 20px 40px;
}

.checkout_left {
  z-index: 10;
}

.checkout_left img {
  display: block;
  margin: auto;
  margin-bottom: 40px;
}

.checkout_left h2 {
  margin-top: 20px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #404143;
  border-bottom: 2px solid #f3de34;
}

.checkout_left ul li {
  color: #404143;
  margin-bottom: 10px;
}

.checkout_left ul li span {
  font-weight: bold;
}

.checkout_right {
  max-width: 400px;
  z-index: 1;
}

.checkout_right .checkout_wrapper {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-top: 50px;
}

.checkout_right h3 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #404143;
  margin-top: 20px;
}

.checkout_right ul {
  border-bottom: 1px solid #404143;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.checkout_right ul li {
  color: #404143;
  margin-bottom: 10px;
}

.checkout_right .totals p {
  color: #404143;
}

.checkout_right .totals p span {
  font-weight: bold;
  display: block;
}

.checkout_right .totals .total {
  border-top: 1px solid #404143;
  padding-top: 20px;
  margin-bottom: 40px;
}

.wrapper.unlock {
  max-width: 1000px;
  -ms-grid-columns: auto 60%;
      grid-template-columns: auto 60%;
}

.unlock_left {
  text-align: right;
  padding-top: 20px;
}

.unlock_left img {
  height: 380px;
}

.unlock_right .unlock_wrapper {
  padding: 20px 40px;
  border-radius: 20px;
  background: #fff;
  -webkit-box-shadow: 0 0 20px rgba(47, 48, 0, 0.2);
          box-shadow: 0 0 20px rgba(47, 48, 0, 0.2);
}

.unlock_right .unlock_wrapper h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #404143;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
}

.unlock_right .unlock_wrapper p {
  text-align: center;
  margin-bottom: 40px;
  font-size: 18px;
}

.unlock_right ul {
  position: relative;
  width: 100%;
  max-width: 350px;
  margin: auto;
  text-align: center;
}

.unlock_right ul li a {
  margin-left: 10px;
  padding: 10px 40px;
}

.unlock_right .link, .unlock_right .lock {
  display: inline-block;
}

.unlock_right .link:hover, .unlock_right .link.unlock, .unlock_right .lock:hover, .unlock_right .lock.unlock {
  background: #989898;
  color: #fff;
}

footer {
  margin-top: 100px;
}

footer p {
  color: #404143;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */